* {
  box-sizing: border-box;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

.todo {
  width: 500px;
  margin: 30px auto;
  border: 1px solid var(--main-color);
}
@media (max-width: 768px) {
  .todo {
    width: 100%;
    height: 100%;
    margin: 0;
  }
}
.todo header {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--main-color);
  color: #fff;
  position: relative;
}
.todo header h2 {
  font-size: 20px;
}
.todo header i {
  font-size: 20px;
  cursor: pointer;
  transition: 0.5s linear;
  -webkit-transition: 0.5s linear;
  -moz-transition: 0.5s linear;
  -ms-transition: 0.5s linear;
  -o-transition: 0.5s linear;
}
.todo header .colors {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  right: 40px;
  width: 170px;
  height: 30px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  width: 0px;
}
.todo header .colors > div {
  background-color: blue;
  width: 20px;
  height: 20px;
  cursor: pointer;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.todo header .colors > div.color-1 {
  background-color: #16a086;
}
.todo header .colors > div.color-2 {
  background-color: #db4c3f;
}
.todo header .colors > div.color-3 {
  background-color: #1f1432;
}
.todo header .colors > div.color-4 {
  background-color: #59bbd8;
}
.todo .add {
  padding: 10px;
  border-bottom: 1px solid #ccc;
  display: flex;
  justify-content: space-between;
}
.todo .add input[type=text] {
  width: 400px;
  padding: 5px;
  border-top: 0;
  border-right: 0;
  border-bottom: 1px solid var(--main-color);
  border-left: 0;
}
@media (max-width: 768px) {
  .todo .add input[type=text] {
    width: 80%;
  }
}
.todo .add input[type=text]:focus-visible {
  outline: 0;
}
.todo .add input[type=submit] {
  border: 0;
  background: var(--main-color);
  color: #fff;
  padding: 5px 15px;
  font-weight: bold;
  cursor: pointer;
}
.todo .tools {
  height: 400px;
  position: relative;
  overflow: scroll;
}
@media (max-width: 768px) {
  .todo .tools {
    height: calc(100vh - 94px);
  }
}
.todo .tools::-webkit-scrollbar {
  width: 2px;
}
.todo .tools::-webkit-scrollbar-thumb {
  background: var(--main-color);
  border-radius: 10px;
}
.todo .tools .tool {
  padding: 10px;
  border-bottom: 1px solid #ccc;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.todo .tools .tool .text-container .tool-text {
  width: 400px;
  border: 0;
  margin-left: -3px;
  font-size: 14px;
  margin-bottom: 5px;
}
@media (max-width: 768px) {
  .todo .tools .tool .text-container .tool-text {
    width: 300px;
  }
}
.todo .tools .tool .text-container .tool-text:focus-visible {
  outline: 0;
}
.todo .tools .tool .text-container .time {
  font-size: 11px;
  color: #777;
}
.todo .tools .tool .edit-delete {
  display: flex;
  gap: 20px;
  align-items: center;
}
.todo .tools .tool .edit-delete .fa-trash {
  color: red;
  cursor: pointer;
}
.todo .tools .tool .edit-delete .fa-pen {
  color: var(--main-color);
  cursor: pointer;
}
.todo .tools .if-empty {
  position: absolute;
  top: 50%;
  left: 50%;
  color: #777;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}

/*# sourceMappingURL=todo.css.map */